@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Nunito:wght@300;500;800&display=swap');

:root {
    --corFundo: #000000;
    --corPrincipal: #4c0a00;
    --corSecundária: #fdfdfd;
    --corTerciaria: #ca5152;
    --text1: #ffffff;
    --text2: #999999;
    --footer: #BBBBBB;
    --footer2: #5c5b5b;
    --equip1: #151515;
}


/* TAGS */

body {
    background-color: var(--corFundo);
    color: white;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    color: var(--corSecundária);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    letter-spacing: 70px;
    font-size: 30px;
    padding: 300px;
    background-image: url(./img/mand3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 120%;
    margin: 0px;
}

footer {
    margin-top: 400px; 
    margin-bottom: 100px;
    padding: 100px;
    display: inline;
    text-align: center;
    color: var(--footer);
}
footer img {
    max-width: 25px;
    margin-bottom: 25px;
}
footer img:hover {
    opacity: 0.6;
}
footer a {
    margin: 15px;
}
footer h1{
    font-size: 12px;
    margin: 10px;
    margin-bottom: 30px;
}
footer p{
    font-size: 12px;
    text-align: center;
    margin: auto;
    word-spacing: 30px;
}



/* ID's */


#img1 {
    max-width: 600px;
    box-shadow: 0px 0px 5px white;
    border: solid 1px white;
    border-radius: 5px;
}

#img2 {
    max-width: 200px;
}

#img3 {
    max-width: 400px;
}

#img4 {
    max-width: 550px;
    box-shadow: 0px 0px 5px white;
    border: solid 1px white;
    border-radius: 5px;
}

#img5 {
    min-width: 600px;
    box-shadow: 0px 0px 5px white;
    border: solid 1px white;
    border-radius: 5px;
}


/* Classes */

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline;
    float: left;
    position: fixed;
    top: 0;
}
.dropbtn img {
    max-width: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 110px;
    margin-left: 22px;
    z-index: 1;
    float: left;
    top: 50px;
    position: fixed;
    border-left: solid var(--corSecundária) 2px;
}

.dropdown-content a {
    color: var(--text1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--text2);
}

.dropdown:hover .dropdown-content {
    display: block;
}


.text {
    background-image: url(./djarin/dj4.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    height: 1300px;
}

.text h1 {
    font-size: 24px;
    color: var(--text1);
    line-height: 40px;
}

.text p {
    font-size: 16px;
    color: var(--text2);
    letter-spacing: 0.5px;
    line-height: 24px;
}

.text a {
    text-decoration: underline var(--text2) dotted 2px;
    color: var(--text2);
}

.content {
    margin: 40px 130px 40px 130px;
    max-width: 500px;
    padding-bottom: 100px;
    padding-left: 15px;
}

.razor {
    margin: auto;
    max-width: 1200px;
    text-align: center;
    display: block;
}
.razor a {
    text-decoration: none;
    color: var(--text1);
}
.razor h1 {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    top: 0;
    padding: 10px;
    font-size: 35px;
    border-bottom: solid var(--corSecundária) 2px;
    max-width: 500px;
}
.razor p {
    color: var(--text2);
    letter-spacing: 0.5px;
    line-height: 24px;
}
.razor img {
    max-width: 1000px;
    text-align: center center;
    margin: auto;
    margin-top: 40px;
}

.razor2{
    text-align: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 250px;
    padding: 10px;
}

.razor-btn {
    min-width: 500px;
    margin: 100px;
    margin-top: 200px;
    padding: 20px 100px;
    background-color: transparent;
    color: var(--text2);
    text-decoration: none;
    border-radius: 10px;
    border: solid var(--text2) 1px;
}
.razor-btn:hover {
    color: var(--text1);
    border-color: var(--text1);
}

.e-header {
    background-image: url(./djarin/dj5.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right;
    max-width: 1400px;
    width: 70%;
    letter-spacing: 20px;
    padding: 10px;
    text-align: center center;
    padding: 200px 120px;
    color: var(--text2);
}
.e-header strong {
    color: var(--text1);
}

.e-content {
    background-color: var(--equip1);
    border: solid var(--equip1) 2px;
    border-radius: 12px;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 500px;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
}
.e-content img {
    max-width: 120%;
    right: 0;
}
.e-content h1 {
    font-size: 40px;
    color: var(--text1);
    line-height: 42px;
    max-width: 500px;
}

.e-content p {
    font-size: 18px;
    color: var(--text2);
    line-height: 26px;
    max-width: 500px;
    left: 0;
}

.any {
    padding: 70px;
}

.f-header{
    background-image: none;
    letter-spacing: normal;
    padding: 0;
    margin: auto;
}